[Unit]
Description=Dynamit
Wants=docker.service network-online.target
After=docker.service network-online.target

[Service]
Restart=no
Type=simple
TimeoutSec=infinity
ExecStartPre=-/home/{{ ansible_user_id }}/dynamit/dynamit-stop.sh
ExecStart=/home/{{ ansible_user_id }}/dynamit/dynamit-start.sh
ExecStop=/home/{{ ansible_user_id }}/dynamit/dynamit-stop.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
